[supervisord]
nodaemon         = true
logfile          = /var/log/supervisor/supervisord.log
childlogdir      = /var/log/supervisor
logfile_maxbytes = 50MB
logfile_backups  = 5
loglevel         = warn
pidfile          = /var/run/supervisord.pid
username = root
password = password

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[supervisorctl]
serverurl=http://127.0.0.1:9001
prompt = mysupervisor
username = root
password = password

[inet_http_server]
port = 127.0.0.1:9001
username = root
password = password

[program:bitcoind]
command = bitcoind -reindex
directory = ~
user = root
autostart=true
autorestart=true
redirect_stderr=True
logfile_maxbytes = 50MB
loglevel         = warn
stdout_logfile = /var/log/bitcoind_supervisor.log

[program:sshd]
command=/usr/sbin/sshd -D
autorestart=true


[include]
files = /etc/supervisor/conf.d/*.conf
